<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('spec')
    ->notPath('vendor')
    ->name('*.php')
    ->ignoreVCS(true)
    ;

$commonRules = require __DIR__ . '/.php_cs.rules.php';

$rules =
    array_merge(
        $commonRules,
        [
            'visibility_required' => [
                'elements' => [
                    'property', 'method', 'const',
                ],
            ],
        ]
    );

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setRiskyAllowed(true)
    ->setFinder($finder)
    ;
